# AIStor license
minio.license

# Local storage
data/

# JAR Files
*.jar

# Dockerfiles
docker/

# Backup files
*.save
*.bak
scripts/aistor/init-tables.sh

# PostgreSQL local data
input-data/postgres-data/
./mnt/airflow/postgres_data/

# Airflow dags
mnt/airflow/dags/*

mnt/airflow/dags/.gitkeep
